@media print {
    .no-print {
        display: none;
    }
    form {
        display: none;
    }
    button {
        display: none;
    }
    .cotizacion-container {
        box-shadow: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 800px;
    }
    th:last-child, td:last-child {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cotizacion-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header-left h2 {
    margin: 5px 0;
    font-size: 20px;
    color: #777;
}

.header-left p {
    margin: 2px 0;
    color: #555;
}

.logo {
    width: 100px;
    height: auto;
}

section {
    margin: 20px 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form label {
    flex: 1 1 100px;
}

form input {
    flex: 2 1 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

button.eliminar {
    background-color: #dc3545;
}

button.eliminar:hover {
    background-color: #c82333;
}

textarea {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}

.totales p {
    text-align: right;
    margin: 5px 0;
    color: #333;
}

.totales p#total {
    font-weight: bold;
}

.totales p#total::before {
    content: "Total: ";
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f0f0f0;
    line-height: 1;
}

.info-empresa {
    line-height: 1;
}

.info-empresa p {
    margin: 5px 0;
}

.franja-color {
    width: 100%;
    height: 20px;
    background-color: #d1f0f0;
    margin: 20px 0;
}

.datos-bancarios {
    margin: 20px 0;
}

.datos-bancarios h3 {
    margin-bottom: 10px;
    color: #333;
}

.datos-bancarios p {
    margin: 2px 0;
    color: #555;
    font-size: 14px;
    line-height: 1;
}
